# TeamsFx files
env/.env.*.user
env/.env.local
env/.env.sandbox
.localConfigs
.localConfigs.playground
.localConfigs
.notification.localstore.json
.notification.playgroundstore.json
appPackage/build

# dependencies
node_modules/

# carpetas de datos de encuestas
data/

# misc
.env.local
.deployment
.DS_Store
*copia*

# build
lib/

# Dev tool directories
/devTools/